[Unit]
Description=Check journal for new Uni source every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=uni-updater.service

[Install]
WantedBy=timers.target
